
time_check = 10

node_ids = []

#Exemple
#node_ids = [
#    "74qsa-j6jno-nmxmb-7jpf5-u6nig-g7hgo-thvjm-6f6zu-c2ugp-krple-qae"
#]

######################
#      Logging
######################
[logging]
max_log_size = 20
backup_count = 3


######################
#     Telegram Bot
######################
[tg_bot]
TOKEN = ''
admins = []
