
time_check = 10


#Exemple
[node_ids]
1 = "74qsa-j6jno-nmxmb-7jpf5-u6nig-g7hgo-thvjm-6f6zu-c2ugp-krple-qae"

######################
#      Logging
######################
[logging]
backup_count_last_day = 7


######################
#     Telegram Bot
######################
[tg_bot]
TOKEN = ''
admins = []

[tg_bot.lighthouse]
enable = false
message = "Status: Active 🟢"

time = '15'